.menu-list {
	padding: 0;
	font-size: 15px;
	font-weight: 600;
	list-style: none;
	margin-bottom: 0 !important;
	color: white;
	display: flex;
	justify-content: space-around;
}

.nav-menu {
	display: inline-block;
}