.login__form-row {
	text-align: center;
    padding: 1em;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 28vh;
    left: 0;
    right: 0;
    background: url("../../assets/background-book.jpg") no-repeat center center fixed;
}

.login__form-container {
	background-color: white;
	top: 30%;
	padding: 2em;
	border-radius: 15px;
}


.login__form-button {
	background-color: #00bcd4;
	border: 1px solid #00bcd4;
}

.login__form-container {
    
}