.image-edit-book {
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.title-edit-book {
	width: 100%;
	border-radius: 8px;
}

.edit-container {
	padding: 1em;
	margin: 1em;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.fa-times-container {
	text-align: right;
	padding-left: 0;
}

.fa-times-custom {
	cursor: pointer;
}

.label-edit {
	width: 100%;
	margin-top: .5rem;
}