.book__card-row {
	margin-top: 1em; 
}

.book__card-container {
	padding: 1em;
    border: 1px solid black;
    border-radius: 15px;
}

.book__card-image-container {
	height: 150px;
}

.book__card-image {
	height: 150px;
	box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}

.list-group {
	float: left;
	margin: 1em;
}

.list-group-item {
    border: 0;
    width: 20em;
}

.book-card-title {
	font-weight: bold;
	padding-top: 0.4em;
}

.book-list {
	display: grid;
    justify-content: center;
    list-style-type: none;
    align-content: center;
    align-items: center;
}

.book-list-item {
	float: left;
	margin: 1em;
	padding: 1em;
}

.book-date {
	font-size: 12px;
}